<div class="span4">
        <div class="widget">
            <div class="widget-content">
            
                <p style="float:left;display:block;"> Number of available cards : {{ nbCard.number }} </p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span4 -->    

    <div class="span4">
        <div class="widget">
            <div class="widget-content">
            
                <p style="float:left;display:block;"> Money in the fund : <span style="color:green;"> {{ caisse.montant }} € </span> </p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span4 -->   
    
    <!--
        <div class="span8">
            <div class="widget-content">
            
                
                    <canvas style="width: 538px; height: 250px;" id="bar-chart" class="chart-holder" width="538" height="250">
                    </canvas>
                 <!-- /bar-chart --> 
        <!--</div><!-- /widget -->
</script>

    <script src="{{ asset('js/excanvas.min.js')}}" type="text/javascript" ></script>
    <script src="{{ asset('js/chart.min.js')}}" type="text/javascript"></script>
    
    <script>
        var barChartData = {
            labels: ["16/01", "17/01", "18/01", "19/01", "20/01", "21/01", "22/01","23/01","24/01","25/01"],
            datasets: [
				{
				    fillColor: "rgba(151,187,205,0.5)",
				    strokeColor: "rgba(151,187,205,1)",
				    data: [28, 48, 40, 19, 96, 27, 112, 105, 52, 42]
				}
			]

        }

        var myLine = new Chart(document.getElementById("bar-chart").getContext("2d")).Bar(barChartData);
        
    </script>

