{% extends '::base.html.twig' %}


{% block subnavbar %}
{{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">
    
    <div class="span8">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Countries</h3>
                
                <hr/>
                    {{ form(form) }}
                    {{ form_errors(form)}}
         {#       <form action="" 
                      method="post" class="form-horizontal" name="add_country">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" class="span4" id="name" value="">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="nationality">Nationality</label>
                        <div class="controls">
                            <input type="text" class="span4" id="nationality" value="">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language">Language</label>
                        <div class="controls">
                            <input type="text" class="span4" id="language" value="">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button> 
			<button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                     </fieldset>
               </form>#}
            <a class="btn" href="{{ path('esn_administration_countries') }}">Cancel</a>
            
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>
{% endblock %}