  <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href="{{ path('esn_members_detail', {
                        'type': "erasmus",
                        'id' : member.erasmus.id
                       }) }}"arget="_blank">{{member.identity.name}}</a>
                <p class="news-item-preview"> Joined on {{member.erasmus.arrivalDate|date('Y-m-d')}}</p>
                
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->    
