  <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href="{{ path('esn_members_detail', {
                        'type': "erasmus",
                        'id' : member.id
                       }) }}"arget="_blank">{{member.name}}</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->    