<div class="row">
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Contact</h3>
                
                <hr/>
                
                &nbsp; <input type="text" value="{{member.email}}"> <br/>
                &nbsp; <input type="text" value="{{member.phone}}"> <br/>
                &nbsp; <input type="text" value="georges.ciaoba">

            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                Firstname  &nbsp; <input type="text" value="{{member.name}}"/> &nbsp; &nbsp; &nbsp;
                Surname  &nbsp; <input type="text" value="Ciaoba"/>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
    <div class="span9">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Erasmus Information</h3>
                
                <hr/>
                
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="birthday">Birthday</label>
                        <div class="controls">
                            <input type="date" class="span6" id="birthday" value="1992-07-08">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            <select id="nationality">
                                <option>English</option>
                                <option>French</option>
                                <option>Italian</option>
                                <option selected>Romanian</option>
                                <option>Spanish</option>
                            </select>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="card">ESN Card</label>
                        <div class="controls">
                            <input type="text" class="span6" id="card" value="624839GYL0">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="arrival">Arrival Date</label>
                        <div class="controls">
                            <input type="date" class="span6" id="birthday" value="2013-09-01">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
 
                    <div class="control-group">
                        <label class="control-label" for="leaving">Leaving Date</label>
                        <div class="controls">
                            <input type="date" class="span6" id="birthday" value="2015-09-01">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            <input type="text" class="span6" id="zip" value="Master's Degree Computer Science" >
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            <select id="university">
                                <option selected>University Lille 1</option>
                                <option>University Lille 2</option>
                                <option>University Lille 3</option>
                            </select>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button> 
			<button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>