<div class="row">
    
    <div class="span12">
        <div class="widget">
            <div class="widget-content">
            
                <button type="submit" class="btn">Add new Erasmus</button> &nbsp;&nbsp;
                <button class="btn">Delete selected Erasmus</button>
                
                <br/>
                <br/>
                
                <input type="text" placeholder="Search by Name">&nbsp;&nbsp;
                <input type="text" placeholder="Search by Nationality">&nbsp;&nbsp;
                <select>
                    <option>Search by University</option>
                    <option>University Lille 1</option>
                    <option>University Lille 2</option>
                    <option>University Lille 3</option>
                </select>

            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->                 
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
            
                <input type="checkbox"> &nbsp;&nbsp;<a href=""target="_blank">Georges Ciaoba</a>
                <p class="news-item-preview"> Joined on 01/09/2013</p>
            
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span3 -->
    
</div>