<div class="row">

    <div class="span12">
        <p>
            {# On affiche tous les messages flash dont le nom est « info » #}
            {% for message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong> Success!</strong> {{ message }}
        </div>
        {% endfor %}
        </p>
    </div>

    <div class="span12">
        <div class="widget">
            <div class="widget-content">
            
                <a href="{{ path('esn_members_erasmus_create') }}" class="btn btn-info">Add new Erasmus</a> &nbsp;&nbsp;
                <button class="btn">Delete selected Erasmus</button>
                
                <br/>
                <br/>
                
                <input type="text" placeholder="Search by Name">&nbsp;&nbsp;
                <input type="text" placeholder="Search by Nationality">&nbsp;&nbsp;
                <select>
                    <option>Search by University</option>
                    <option>University Lille 1</option>
                    <option>University Lille 2</option>
                    <option>University Lille 3</option>
                </select>

            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>
    
   <!-- injection test -->
    {% for membre in liste_membres %}
        {{ render(controller("ESNMembersBundle:Members:cardErasmus" , {'member': membre})) }}
    {% endfor %}             
    
</div>