<div class="row">

                        <div class="span5">
                                <div class="widget">
                                    <div class="widget-content">
                                    
                                        <button type="submit" class="btn">Add new pole</button> &nbsp;&nbsp;
                                        <button class="btn">Delete selected poles</button>

                                    </div><!-- /widget-content --> 
                                </div><!-- /widget -->    
                            </div>

                    <div class="span12">
                        <div class="widget">
                            <div class="widget-content">
                                              
                                <div class="panel panel-default">

                                    <!-- Table -->
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Number of members</th>
                                            <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Web</td>
                                            <td>Le pole web s'occupe du développement de nouveaux outils informatiques...</td>
                                            <td>8</td>
                                            <td>
                                                <a href="">View</a> &nbsp;
                                                <a href="">Edit</a> &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Culture</td>
                                            <td>Blablablablablabla</td>
                                            <td>17</td>
                                            <td>
                                                <a href="">View</a> &nbsp;
                                                <a href="">Edit</a> &nbsp;
                                            </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div><!-- widget-content -->
                        </div><!-- /widget -->
                    </div><!-- /span12 -->   
        
                    </div>