{% extends '::base.html.twig' %}

{% block title %} Login {% endblock %}
        
{% block body %}

    <div class="account-container">

        <div class="content clearfix">

            <h1>Member Login</h1>

            <div class="login-fields">

            </div>
            <!-- /login-fields -->

            <div class="login-actions">
                <a href="{{ path('esn_login_check') }}">
                    <button class="button btn btn-success btn-large btn-galaxy">Connect with galaxy</button>
                </a>
            </div>
            <!-- .actions -->

        </div>
        <!-- /content -->

    </div>



{% endblock %}