<div class="row">
    <div class="span10">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-user"></i>
                <h3>Administration</h3>
            </div>
            <div class="widget-content">
						
						
						
                    <div class="tabbable">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#list-user" data-toggle="tab">List User</a></li>
                      <li class=""><a href="#add-user" data-toggle="tab">Add User</a></li>
                      <li class=""><a href="#edit-user" data-toggle="tab">Edit User</a></li>
                      <li class=""><a href="#add-rule" data-toggle="tab">Add Rules</a></li>
                      <li class=""><a href="#add-rule" data-toggle="tab">Edit Rules</a></li>
                    </ul>
                            <div class="tab-content">
                                    <div id="list-user" class="tab-pane active" >
                                        <ul class="news-items" style="margin: 0 0 0;">
                                            <li style=padding:0;padding-bottom:1em;margin-bottom:1em;width:100%;">
                                              <div class="news-item-detail"> 
                                                  <div class="news-item-preview">
                                                      <input type="checkbox" name="option0" value="0">
                                                      <span> Name </span>
                                                      <span> Surname </span>
                                                      <span> 10/01/2015</span>
                                                      <span>
                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                      </span>
                                                      <span>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                      </span>
                                                  </div>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="news-item-detail"> 
                                                  <div class="news-item-preview">
                                                      <input type="checkbox" name="option0" value="1">
                                                      <span> Name2 </span>
                                                      <span> Surname2 </span>
                                                      <span> 10/01/2015</span>
                                                      <span>
                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                      </span>
                                                      <span>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                      </span>
                                                  </div>
                                              </div>
                                            </li>
                                          </ul>
                                    </div>
                                    <div id="add-user" class="tab-pane" >
                                        <form id="add-user" class="form-horizontal">
                                                <fieldset>
                                                        <br/>
                                                        <div class="control-group">											
                                                                <label class="control-label" for="firstname">First Name</label>
                                                                <div class="controls">
                                                                        <input class="span6" id="firstname" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->


                                                        <div class="control-group">											
                                                                <label class="control-label" for="lastname">Last Name</label>
                                                                <div class="controls">
                                                                        <input class="span6" id="lastname" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->
                                                        
                                                        <div class="control-group">											
                                                                <label class="control-label" for="password">Password</label>
                                                                <div class="controls">
                                                                        <input class="span4" id="password" value="" type="password">
                                                                </div> <!-- /controls -->				
                                                        </div>

                                                        <div class="control-group">											
                                                                <label class="control-label" for="email">Email Address</label>
                                                                <div class="controls">
                                                                        <input class="span4" id="email" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->

                                                        <div class="control-group">											
                                                            <label class="control-label">Rules</label>
                                                            <div class="controls">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> Administrator
                                                                </label>
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> President
                                                                </label>
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> Member
                                                                </label>
                                                            </div>	<!-- /controls -->			
                                                        </div>

                                                        <br/>

                                                        <div class="form-actions">
                                                                <button type="submit" class="btn btn-primary">Add</button> 
                                                                <button class="btn">Cancel</button>
                                                        </div> <!-- /form-actions -->
                                                </fieldset>
                                        </form>
                                    </div>
                                    <div id="edit-user" class="tab-pane" >
                                        <form id="edit-user" class="form-horizontal">
                                                <fieldset>
                                                        <br/>
                                                        <div class="control-group">											
                                                                <label class="control-label" for="firstname">First Name</label>
                                                                <div class="controls">
                                                                        <input class="span6" id="firstname" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->


                                                        <div class="control-group">											
                                                                <label class="control-label" for="lastname">Last Name</label>
                                                                <div class="controls">
                                                                        <input class="span6" id="lastname" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->
                                                        
                                                        <div class="control-group">											
                                                                <label class="control-label" for="password1">Password</label>
                                                                <div class="controls">
                                                                        <input class="span4" id="password1" value="" type="password">
                                                                </div> <!-- /controls -->				
                                                        </div>

                                                        <div class="control-group">											
                                                                <label class="control-label" for="email">Email Address</label>
                                                                <div class="controls">
                                                                        <input class="span4" id="email" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->

                                                        <div class="control-group">											
                                                            <label class="control-label">Rules</label>
                                                            <div class="controls">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> Administrator
                                                                </label>
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> President
                                                                </label>
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> Member
                                                                </label>
                                                            </div>	<!-- /controls -->			
                                                        </div>

                                                        <br/>

                                                        <div class="form-actions">
                                                                <button type="submit" class="btn btn-primary">Edit</button> 
                                                                <button class="btn">Cancel</button>
                                                        </div> <!-- /form-actions -->
                                                </fieldset>
                                        </form>
                                    </div>
                                    <div id="add-rule" class="tab-pane" >
                                        <form id="add-user" class="form-horizontal">
                                                <fieldset>
                                                        <br/>
                                                        <div class="control-group">											
                                                                <label class="control-label" for="name">Name</label>
                                                                <div class="controls">
                                                                        <input class="span6" id="name" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->


                                                        <div class="control-group">											
                                                                <label class="control-label" for="shortname">ShortName</label>
                                                                <div class="controls">
                                                                        <input class="span6" id="shortname" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->
                                                        
                                                        <div class="control-group">											
                                                                <label class="control-label" for="description">Description</label>
                                                                <div class="controls">
                                                                    <textarea class="span6" id="description" type="text" style="resize:none"></textarea>
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->
                                                        

                                                        <div class="control-group">											
                                                            <label class="control-label">Fonction</label>
                                                            <div class="controls">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> add_user
                                                                </label>
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> edit_user
                                                                </label>
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> delete_user
                                                                </label>
                                                                
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> manage_treasury
                                                                </label>
                                                                
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> manage_hr
                                                                </label>
                                                                
                                                            </div>	<!-- /controls -->			
                                                        </div>

                                                        <br/>

                                                        <div class="form-actions">
                                                                <button type="submit" class="btn btn-primary">Save</button> 
                                                                <button class="btn">Cancel</button>
                                                        </div> <!-- /form-actions -->
                                                </fieldset>
                                        </form>
                                    </div>
                                    <div id="edit-rule" class="tab-pane" >
                                        <form id="edit-rule" class="form-horizontal">
                                                <fieldset>
                                                        <br/>
                                                        <div class="control-group">											
                                                                <label class="control-label" for="name">Name</label>
                                                                <div class="controls">
                                                                        <input class="span6" id="name" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->


                                                        <div class="control-group">											
                                                                <label class="control-label" for="shortname">ShortName</label>
                                                                <div class="controls">
                                                                        <input class="span6" id="shortname" value="" type="text">
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->
                                                        
                                                        <div class="control-group">											
                                                                <label class="control-label" for="description">Description</label>
                                                                <div class="controls">
                                                                    <textarea class="span6" id="description" type="text" style="resize:none"></textarea>
                                                                </div> <!-- /controls -->				
                                                        </div> <!-- /control-group -->
                                                        

                                                        <div class="control-group">											
                                                            <label class="control-label">Fonction</label>
                                                            <div class="controls">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> add_user
                                                                </label>
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> edit_user
                                                                </label>
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> delete_user
                                                                </label>
                                                                
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> manage_treasury
                                                                </label>
                                                                
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox"> manage_hr
                                                                </label>
                                                                
                                                            </div>	<!-- /controls -->			
                                                        </div>

                                                        <br/>

                                                        <div class="form-actions">
                                                                <button type="submit" class="btn btn-primary">Save</button> 
                                                                <button class="btn">Cancel</button>
                                                        </div> <!-- /form-actions -->
                                                </fieldset>
                                        </form>
                                    </div>



                            </div>


                    </div>





            </div>
        </div>
    </div>
</div>