<div class="row">
    
    <div class="span8">
        <div class="widget">
            <div class="widget-content">
            
                <h3>Rules</h3>
                
                <hr/>
                
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" class="span4" id="name" value="Web">
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea>La description du rôle en quelques mots</textarea>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save</button> 
			<button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div>    
    
</div>

