<div class="row">
    
    <div class="span3">
        
        <div class="widget ">
            <div class="widget-content">
                
                <img style="width: 100%;" src="/img/user.png">
                    
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
       
        
    </div><!-- /span3 -->
    
    <div class="span9">
        
        <div class="widget ">
            <div class="widget-content">
                <h3>Add new ESNer</h3>
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
        <div class="widget ">
            <div class="widget-content">
                
                <h3>VP Information</h3>
                <hr/>
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                     <div class="control-group">
                        <label class="control-label" for="roles">Firstname</label>
                        <div class="controls">
                            <input>
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->
                    
                     <div class="control-group">
                        <label class="control-label" for="roles">Name</label>
                        <div class="controls">
                            <input>
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->
                    
                    
                    <div class="control-group">
                        <label class="control-label" for="roles">Mail address</label>
                        <div class="controls">
                            <input>
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="roles">Phone number</label>
                        <div class="controls">
                            <input>
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->
                    
                     <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="cluster">Cluster</label>
                        <div class="controls">
                            <select id="roles">
                                <option>Culture</option>
                                <option selected>Party</option>
                                <option>Web</option>
                            </select>
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="roles">Roles</label>
                        <div class="controls">
                            <select id="roles">
                                <option>Active Members</option>
                                <option selected>President</option>
                                <option>Vice-President</option>
                            </select>
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    
                    <div class="control-group">
                        <label class="control-label" for="roles">Cotisation Paiement</label>
                        <div class="controls">
                            <input type="checkbox" checked>
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->

                    <div class="control-group">
                        <label class="control-label" for="roles">Date Paiement</label>
                        <div class="controls">
                            <input type="date" class="span2" id="birthday" value="2014-01-01" >
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->

                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="comments">Comments</label>
                        <div class="controls">
                            <textarea id="comments"></textarea>
                        </div> <!-- /controls -->           
                    </div> <!-- /control-group -->
                    
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Add</button> 
            <button class="btn">Cancel</button>
                    </div> <!-- /form-actions -->
                    
                </fieldset>  
                </form>    
            </div><!-- /widget-content -->
        </div><!-- /widget -->

    </div><!-- /span9 -->
    
</div><!-- /row -->