<div class="span12">
        <div class="widget">
            <div class="widget-content">
                    <div class ="tabbable">
                        
                        <ul class="nav nav-tabs">
                            <li class="active">
                              <a href="#details" data-toggle="tab">Details</a>
                            </li>
                            <li class=""><a href="#participants" data-toggle="tab">Participants</a></li>
                        </ul>
                        
                        <div class="tab-content">
                            <div class="tab-pane active" id="details">
                                <div class="panel panel-default">
                                    <h3>Trip in Paris </h3>
                                    <p> Visite de la tour Eiffel, de montmartre et de la belle ville de Paris </p>
                                    <p> Date : 30/01/2015 </p> 
                                    <p> Price : 50€ </p>
                                    <p> Number of participants : 50 / 55</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="participants">
                                <div class="panel panel-default">
                                    <h3> Trip in Paris </h3>
                                    <p> 30/01/2015 </p> 
                                    <!-- Table -->
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>FirstName</th>
                                          <th>Surname</th>
                                          <th>Phone Number</th>
                                          <th>Birthdate</th>
                                          <th>Inscription date</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Donatien</td>
                                            <td>Thorez</td>
                                            <td>0600000000</td>
                                            <td>13/12/1992</td>
                                            <td>22/01/2015</td>
                                            <td>
                                                <button class="btn btn-default">Delete member</button>
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>2</td>
                                            <td>Aymeric</td>
                                            <td>Bultel</td>
                                            <td>0600000000</td>
                                            <td>XX/XX/XXXX</td>
                                            <td>22/01/2015</td>
                                            <td>
                                                <button class="btn btn-default">Delete member</button>
                                            </td>
                                        </tr>

                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span8 -->   
