<div class="span12">
        <div class="widget">
            <div class="widget-content">
                    <h2> Enrollment Trip </h2>
                    <br>
                    <form class="form-horizontal" id="enroll-user">
                    <fieldset>
                        
                        <div class="control-group">											
                            <label class="span3" for="trip">Trip : </label>
                            <div class="controls">
                                    <select class="selectpicker">
                                        <option>Trip in Paris</option>
                                        <option>Trip in Amsterdam</option>
                                    </select>
                            </div> <!-- /controls -->				
                        </div>
                        
                        <div class="control-group">											
                            <label class="span3" for="user">Member to enroll : </label>
                            <div class="controls">
                                    <input type="text" placeholder="Search by Firstname">
                                    <select class="selectpicker">
                                        <option>Donatien Thorez</option>
                                        <option>Aymeric Bultel</option>
                                        <option>Jérémie Samson</option>
                                    </select>
                            </div> <!-- /controls -->				
                        </div>
                        
                    </fieldset>
                        <input type="submit" name="validate" value="Enroll user">
                    </form>
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span8 -->   
