{% extends 'ESNAdministrationBundle::layout.html.twig' %}

{% block content %}
    <h1>Changelog</h1>

    <p>
        <h3>v1.2.5</h3>
        <h4><i>13/06/2016</i></h4>

        <ul>
            <li>Ajout du système de recruteur</li>
            <li>Le trésorier peut supprimer une opération de trésorerie</li>
            <li>Suppression de l'ajout d'une opération de trésorier null quand pas de carte ESN vendu</li>
        </ul>
    </p>

    <p>
        <h3>v1.2.4</h3>
        <h4><i>30/05/2016</i></h4>

        <ul>
            <li>Réglage du problème de compatibilité avec Firefox sur le formulaire de recrutement</li>
            <li>Modification dans le formulaire de recrutement</li>
        </ul>
    </p>

    <p>
        <h3>v1.2.3</h3>
        <h4><i>27/04/2016</i></h4>

        <ul>
            <li>Ajout de la fréquentation sur le formulaire de perm</li>
            <li>Modification dans le formulaire de recrutement</li>
        </ul>
    </p>

    <p>
        <h3>v1.2.2</h3>
        <h4><i>25/03/2016</i></h4>

        <ul>
            <li>Modification sur le rapport de perm, possibilité de faire un rapport sans carte vendu</li>
            <li>Ajout du vp a la gestion de la trésorerie et de l'administration</li>
        </ul>

        <h4><i>24/01/2016</i></h4>
        <ul>
            <li>Correction de l'edition d'un ESNer</li>
            <li>Ajout du vp a la gestion de la trésorerie</li>
        </ul>
    </p>

    <p>
        <h3>v1.2.1</h3>
        <h4><i>15/02/2016</i></h4>

        <ul>
            <li>Ajout de l'agenda, des events & des likes facebook sur le dashboard</li>
            <li>Fix sur l'ajout d'utilisateur</li>
        </ul>

        <h4><i>03/01/2016</i></h4>
        <ul>
            <li>Correction de l'ajout des rapports de perms</li>
        </ul>
    </p>

    <p>
        <h3>v1.2.0</h3>
        <h4><i>03/01/2016</i></h4>

        <ul>
            <li>Ajout des activities pour suivre les logins et les action sur l'ERP</li>
            <li>Ajout du changelog</li>
        </ul>

        <h4><i>03/01/2016</i></h4>
        <ul>
            <li>Correction de l'ajout des rapports de perms</li>
        </ul>
    </p>

    <p>
        <h3>v1.1.0</h3>
        <h4><i>25/10/2015</i></h4>
        <ul>
            <li>Première mise en ligne de l'ERP</li>
        </ul>
    </p>


{% endblock %}