<div class="row">
    <div class="span3">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Facebook Stats</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                  
                  <div id="big_stats" class="cf">
                    <div class="stat"> <i class="icon-thumbs-up-alt"></i> <span class="value">2600</span> </div>
                    <div class="stat"> <i class="icon-group"></i> <span class="value">922</span> </div>
                  </div>
                </div>
                <!-- /widget-content --> 
              </div>
            </div>
        </div>    
    </div>
    <div class="span8">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Next Events</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <ul class="news-items">
                <li>
                  
                  <div class="news-item-date"> <span class="news-item-day">15</span> <span class="news-item-month">Feb</span> </div>
                  <div class="news-item-detail"> <a href="https://www.facebook.com/ESNLillePage" class="news-item-title" target="_blank">City Tour</a>
                    <p class="news-item-preview">This week the weather forecast seems to be better than last Sunday. We'll meet at 2PM on Sunday at Place de la République (metro république beaux arts) for a city tour of Lille... A funny way to discover the city and its history.</p>
                  </div>
                  
                </li>
                <li>
                  
                  <div class="news-item-date"> <span class="news-item-day">15</span> <span class="news-item-month">Feb</span> </div>
                  <div class="news-item-detail"> <a href="https://www.facebook.com/events/1546657115619075/" class="news-item-title" target="_blank">Hip Hop - Workshop</a>
                    <p class="news-item-preview">ESN invites you to learn how to dance HIP HOP. Join us on Sunday at 2pm at the COSEC of Lille 1. (metro 4 Cantons)</p>
                  </div>

                </li>
        
              </ul>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
    </div>
</div>
<div class="row">

    <div class="span3">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Members</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                  
                  <div id="big_stats" class="cf">
                    <div class="stat"> <i class="icon-user"></i> <span class="value">59</span> ESNers</div>
                    <div class="stat"> <i class="icon-user"></i> <span class="value">400</span> Erasmus</div>
                  </div>
                </div>
                <!-- /widget-content --> 
              </div>
            </div>
        </div>    
    </div>
    <div class="span8">
        <div class="widget widget-nopad">
            <div class="widget-header"> <i class="icon-list-alt"></i>
              <h3> Permanence</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
                <div class="widget-content">
                  
                    <ul class="news-items">
                        <li>

                          <div class="news-item-date"> <span class="news-item-day">12</span> <span class="news-item-month">Feb</span> </div>
                          <div class="news-item-detail"> <a>Rapport de permanence #1</a>
                            <p class="news-item-preview">10 cartes ESN vendues, plusieurs étudiants sont venues prendre des cartes sim SFR.</p>
                          </div>

                        </li>
                        <li>

                          <div class="news-item-date"> <span class="news-item-day">13</span> <span class="news-item-month">Feb</span> </div>
                          <div class="news-item-detail"> <a>Rapport de permanence #2</a>
                              <p class="news-item-preview">10 cartes ESN vendues, nous avons inscrit 10 erasmus au Voyage pour Paris.</p>
                          </div>

                        </li>
                    </ul>
                </div>
                <!-- /widget-content --> 
              </div>
            </div>
        </div>    
    </div>
</div>
