<div class="row">
    
    <div class="span3">
        
        <div class="widget">
            <div class="widget-content">
                
                <h3>Contact</h3>
                
                <hr/>
                
                &nbsp; ay.bltl@gmail.com<br/>
                &nbsp; <a href="facebook">Aymeric Bultel</a>
                               
            </div><!-- /widget-content --> 
        </div><!-- /widget -->
        
    </div><!-- /span3 -->
    
    <div class="span9">
        
        <div class="widget ">
            <div class="widget-content">
                <h3> Aymeric Bultel</h3>
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
        <div class="widget ">
            <div class="widget-content">
                
                <h3>Profil Information</h3>
                <hr/>
                <form id="edit-profile" class="form-horizontal">
                <fieldset>
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            22 years old
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="age">Birthday</label>
                        <div class="controls">
                            08/07/1992
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Nationality</label>
                        <div class="controls">
                            French
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="address">Erasmus</label>
                        <div class="controls">
                            Erasmus à Lille du 01/01/2014 au 01/01/2015
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="study">Study</label>
                        <div class="controls">
                            Master's Degree in Computer Science
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="university">University</label>
                        <div class="controls">
                            University Lille 1
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="language1">Language 1</label>
                        <div class="controls">
                            English
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language2">Language 2</label>
                        <div class="controls">
                            French
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="language3">Language 3</label>
                        <div class="controls">
                            Italian
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <hr/>
                    
                    <div class="control-group">
                        <label class="control-label" for="time">Time Available</label>
                        <div class="controls">
                            12 hours / week
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="motivation">Motivations</label>
                        <div class="controls">
                            <textarea disabled>Je suis motivé car ...</textarea>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="skill">Skills</label>
                        <div class="controls">
                            <textarea disabled>Je sais faire ...</textarea>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                    <div class="control-group">
                        <label class="control-label" for="esnlille">ESN Lille</label>
                        <div class="controls">
                            <textarea disabled>J'ai connu ESN par ...</textarea>
                        </div> <!-- /controls -->			
                    </div> <!-- /control-group -->
                    
                </fieldset>  
                </form>    
            </div><!-- /widget-content -->
        </div><!-- /widget -->
        
    </div><!-- /span9 -->
    
</div><!-- /row -->
