<div class="row">

                        <div class="span4">
                                <div class="widget">
                                    <div class="widget-content">
                                        <button class="btn">Delete selected apply</button>
                                    </div><!-- /widget-content --> 
                                </div><!-- /widget -->    
                            </div>

                    <div class="span12">
                        <div class="widget">
                            <div class="widget-content">
                                              
                                <div class="panel panel-default">

                                    <!-- Table -->
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Apply Date</th>
                                            <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Aymeric</td>
                                            <td>Bultel</td>
                                            <td>01/01/2014</td>
                                            <td>
                                                <a href="">View</a> &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Aymeric</td>
                                            <td>Bultel</td>
                                            <td>01/01/2014</td>
                                            <td>
                                                <a href="">View</a> &nbsp;
                                            </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div><!-- widget-content -->
                        </div><!-- /widget -->
                    </div><!-- /span12 -->   
        
                    </div>
