{% for mentee in mentees %}
    <li>
        <a href="#">{{ mentee }}</a>
        {% if mentee.mentees|length > 0 %}
            <ul>
                {% include "@ESNHR/Recruitment/tree.html.twig" with {'mentees': mentee.mentees} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}