{% extends '::base.html.twig' %}


{% block subnavbar %}
    {{ render(controller("ESNDashboardBundle:Dashboard:subnavbar")) }}
{% endblock %}

{% block body %}

<div class="row">
    <section>
        <div class="tree">
            {% for esner in esners %}

                {% if esner.mentees|length > 0 and esner.mentor is null %}
                    <ul>
                        <li>
                            <a href="#">{{ esner }}</a>
                                <ul>
                                    {% include "@ESNHR/Recruitment/tree.html.twig" with {'mentees': esner.mentees} %}
                                </ul>
                        </li>
                    </ul>
                {% endif %}

            {% endfor %}
        </div>
    </section>

</div>

{% endblock %}