<div class="row">	      	
    
    <div class="span12">
        <div class="widget">
            <div class="widget-content">
            
                <input type="text" placeholder="Search by Name">&nbsp;&nbsp;
                <input type="text" placeholder="Search by Nationality">&nbsp;&nbsp;
                <input type="text" placeholder="Search by Role">
            
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 --> 

    <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <h3>    
                    <a href="">Aymeric Bultel</a>
                </h3>
                <h4>Web Cluster Manager</h4>
                
                <hr/>
                <p>
                    Mail : ay.bltl@gmail.com <br/>
                    Phone : +33 678 088 595 <br/>
                    <a href="">View Detail</a>
                </p>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 --> 
    
    <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <h3>    
                    <a href="">Aymeric Bultel</a>
                </h3>
                <h4>Web Cluster Manager</h4>
                
                <hr/>
                <p>
                    Mail : ay.bltl@gmail.com <br/>
                    Phone : +33 678 088 595 <br/>
                    <a href="">View Detail</a>
                </p>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 --> 
        <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <h3>    
                    <a href="">Aymeric Bultel</a>
                </h3>
                <h4>Web Cluster Manager</h4>
                
                <hr/>
                <p>
                    Mail : ay.bltl@gmail.com <br/>
                    Phone : +33 678 088 595 <br/>
                    <a href="">View Detail</a>
                </p>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 --> 
        <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <h3>    
                    <a href="">Aymeric Bultel</a>
                </h3>
                <h4>Web Cluster Manager</h4>
                
                <hr/>
                <p>
                    Mail : ay.bltl@gmail.com <br/>
                    Phone : +33 678 088 595 <br/>
                    <a href="">View Detail</a>
                </p>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 --> 
        <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <h3>    
                    <a href="">Aymeric Bultel</a>
                </h3>
                <h4>Web Cluster Manager</h4>
                
                <hr/>
                <p>
                    Mail : ay.bltl@gmail.com <br/>
                    Phone : +33 678 088 595 <br/>
                    <a href="">View Detail</a>
                </p>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 --> 
        <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <h3>    
                    <a href="">Aymeric Bultel</a>
                </h3>
                <h4>Web Cluster Manager</h4>
                
                <hr/>
                <p>
                    Mail : ay.bltl@gmail.com <br/>
                    Phone : +33 678 088 595 <br/>
                    <a href="">View Detail</a>
                </p>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 --> 
        <div class="span3">
        <div class="widget">
            <div class="widget-content">
                
                <h3>    
                    <a href="">Aymeric Bultel</a>
                </h3>
                <h4>Web Cluster Manager</h4>
                
                <hr/>
                
                <p>
                    Mail : ay.bltl@gmail.com <br/>
                    Phone : +33 678 088 595 <br/>
                    <a href="">View Detail</a>
                </p>
                
            </div><!-- /widget-content --> 
        </div><!-- /widget -->    
    </div><!-- /span12 --> 
    
</div><!-- /row --> 