<div class="span12">
        <div class="widget">
            <div class="widget-content">
                <a href="{{ path('esn_treasury_list') }}"> Retour </a>
                    <br>
                    <br/>
                    
                        <div class="control-group">											
                                <label class="span3" for="date">Date : </label>
                                <div class="controls">
                                        <input class="span3" id="amount" value="01/01/2015" type="text" disabled>
                                </div> <!-- /controls -->				
                        </div>
                    
                     <div class="control-group">											
                                <label class="span3" for="libelle">Libelle : </label>
                                <div class="controls">
                                        <input class="span3" id="amount" value="Cotisation ESN" type="text" disabled>
                                </div> <!-- /controls -->				
                        </div>
                    
                    <div class="control-group">											
                        <label class="span3" for="description">Description : </label>
                        <div class="controls">
                            <textarea class="span5" rows="6" cols="14 " style="resize: none;" disabled>Description de l'opération</textarea>
                        </div>		
                    </div>
                    
                     <div class="control-group">											
                                <label class="span3" for="amountOfOperation">Amount of the operation : </label>
                                <div class="controls">
                                        <input class="span3" id="amount" value="+5€" type="text" disabled>
                                </div> <!-- /controls -->				
                        </div>
            </div><!-- widget-content -->
        </div><!-- /widget -->
    </div><!-- /span8 -->   
