<h1>Votre candidature a bien été prise en compte</h1>

<p>
    Votre candidature pour intégrer l'association ESN Lille à bien été prise en compte.
    Vous serez bientôt contacté pour le Vice-Président qui est en charge du recrutement.
</p>

Cordialement,

<p>
    <small>Cet email à été envoyé autmatiquement par l'ERP d'ESN Lille, merci de ne pas y répondre</small>
</p>