<h3>Votre candidature pour intégrer l'association ESN Lille a bien été prise en compte. Vous serez bientôt contacté par le/la Vice-Président(e) en charge du recrutement.</h3>

<p>
    En attendant, si tu as la moindre question, n'hésite pas à le/la contacter à vp@esnlille.fr.
    Tu veux en apprendre encore un peu plus ESN Lille ? Rendez-vous sur notre site et/ou sur notre page Facebook !
</p>

A très vite !

<p>
    <small>Cet e-mail vous a été envoyé automatique par l'ERP d'ESN Lille, merci de ne pas y répondre."</small>
</p>









