<h1>Nouvelle candidature</h1>

<p>
    Une nouvelle candidature vient d'être soumise sur l'ERP.<br>
    Pour y accéder, merci de suivre ce lien :<br><br>
    <a href="http://erp.esnlille.fr{{ path('esn_hr_recruitment_view', {'apply_id': apply.id}) }}">http://erp.esnlille.fr{{ path('esn_hr_recruitment_view', {'apply_id': apply.id}) }}</a>
</p>

Cordialement,

<p>
    <small>Cet email à été envoyé autmatiquement par l'ERP d'ESN Lille, merci de ne pas y répondre</small>
</p>