<h3>Vous avez été ajouté à la liste des recruteurs</h3>

<p>
    Bonjour {{ esner }},

    Tu viens d'être ajouté à la liste des recruteurs sur l'ERP d'ESN Lille.
    Tu peux désormait accéder à la liste des postulants à cette adresse : <a href="{{ path('esn_hr_recruitment') }}"></a>

    Si tu n'es pas dans le groupe whatsapp, envoie ton numéro à vp@esnlille.fr en précisant que tu souhaiterais y être ajouté.
    Tu peux également suivre le groupe de recrutement sur Facebook <a href="https://www.facebook.com/groups/588526674662596/">ici</a>
</p>

A très vite !

<p>
    <small>Cet e-mail vous a été envoyé automatique par l'ERP d'ESN Lille, merci de ne pas y répondre."</small>
</p>









