<h1>Bienvenue {{ user }} dans ESN Lille</h1>

<p>
    Tu es désormait officiellement inscrit dans l'association via l'ERP.
    Tu as donc une période d'essaie de 3 semaines avant d'avoir la réponse définitive quant à ton acceptation dans la section.
</p>

<p>
    ESN est une grande famille et nous esperons tous que tu en feras partie prochainement, d'ici là il faudra nous montrer que tu en as dans le ventre
    en participant aux évènements, en étant actif dans ton pôle et surtout en écoutant et en mettant en oeuvre les conseils de ceux que tu appeleras les "anciens"
</p>

<p>
    Tu es donc pour le moment un jeune newbie qui a beaucoup à apprendre.
    Pour combler ta soif de savoir, nous sommes tous à ta disposition pour répondre à chacune de tes questions.
    Sache que tu as aussi des informations sur l'asso sur le site web : <a href="http://esnlille.fr">http://esnlille.fr</a> et sur notre wiki <a href="http://wiki.esnlille.fr">http://wiki.esnlille.fr</a>
</p>

<p>
    Nous t'encourageons également vivement à t'inscrire sur le buddysystem : <a href="http://esnlille.buddysystem.eu">http://esnlille.buddysystem.eu</a>
    pour faire en sorte qu'un étudiant international est le plus beau séjour possible dans notre belle ville.
</p>

<p>
    Pour toutes questions, n'hésite pas à demander à un des ESNers que tu connais déjà ou plus particulièrement au  <a href="mail:vp@esnlille.fr">VP</a> qui s'occupe des nouveaux.
</p>

<p>
    A très bientôt et bon courage !
</p>

<p>
    <small>Cet email à été envoyé autmatiquement par l'ERP d'ESN Lille, merci de ne pas y répondre</small>
</p>